.upper-navbar {
    background-color: #1F4E79;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7rem;
    width: 100%;
    font-size: 0.8rem;
}

.skip-link {
    color: #ffffff;
    transition: all 0.2s ease;
}

.skip-link:hover {
    color: #b9d2f3;
}

.search-field {
    position: relative;
    width: 15rem;
}

.search-input {
    width: 100%;
    padding: 0.7rem 1.8rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-size: inherit;
    background-color: #ffffff;
}

.search-field i {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%); 
    font-size: 1.2rem; 
    pointer-events: none;
    color: #000;
}

.lang-select label {
    margin-right: 1rem;
}

.lang-select select {
    background-color: #fff;
    color: #000;
}